:root {
  --salmon: hsl(353.7, 70.5%, 70.8%);
}

body {
  font-family: 'Cabin', sans-serif;
  line-height: 150%;
}

a {
  color: var(--salmon);
}

section {
  max-width: 600px;
  padding: 1em 20px;
  margin: 0 auto;
}

header {
  background-color: var(--salmon);
  color: white;
  padding-top: 2em;
}

main > section {
  box-shadow: 0 1px 3px gray;
  margin-top: -2em;
  background-color: white;
}

footer {
  color: gray;
}

g#Body {
  transform-origin: 20% 50%;
  animation: 3s 5s alternate infinite breathe;
}

#Left-Pupil, #Right-Pupil {
  animation: 20s alternate infinite look-around;
}

@keyframes breathe {
  to { transform: rotate(-2deg) }
}

@keyframes look-around {
    0% { transform: translate(0px, 0px) }
   49% { transform: translate(0px, 0px) }
   52% { transform: translate(4px, 3px) }
  100% { transform: translate(4px, 3px) }
}
